<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="https://knowit.github.io/esp32-intro/">ESP32 Intro</a></h1>
        <p><h1>{{ site.description | default: site.github.project_tagline }}</h1></p>

        <p></p>
        <p></p>
        <p></p>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <img src="https://raw.githubusercontent.com/knowit/esp32-intro/main/img/knowit_logo_black_rgb.png" />



    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <p><small>Hosted on GitHub Pages</small></p>
    </footer>
</div>
